/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-size: 14px;
}

body {
    background-image: url(/background-arrows.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    @apply py-32;
}